<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name ="pdf" connectionString ="Data Source=.;Initial Catalog=Test;Integrated Security=True" providerName="PWMIS.DataProvider.Data.SqlServer,PWMIS.Core"/>
    <add name="Conn" connectionString="Data Source=.;Initial Catalog=Test;Integrated Security=True" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <appSettings>
    <add key="dbType" value="MSSQL" />
    <add key="linkString" value="Data Source=.;Initial Catalog=Test;Integrated Security=True" />
  </appSettings>
</configuration>